.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}

body{
    background: #00050a;
  padding-top: 15px;
}
.main-section{
border:1px solid #138496;
background-color: #fff;
}
.profile-header{
background-color: #17a2b8;
height:150px;
}
.user-detail{
margin:-50px 0px 30px 0px;
}
.user-detail img{
height:100px;
width:100px;
}
.user-detail h5{
margin:15px 0px 5px 0px;
}
.user-social-detail{
padding:15px 0px;
background-color: #17a2b8;
}
.user-social-detail a i{
color:#fff;
font-size:23px;
padding: 0px 5px;
}